{% extends 'projetfinal/backend/backoffice.html' %}
{% load static %}
{% load bootstrap5 %}
{% block backoffice %}
<h2>Users</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Avatar</th>
        </tr>
    </thead>
    <tbody>
        {% for member in allmembers %}
        <tr>
            <th scope="row">{{ member.id }}</th>
            <td>{{ member.username }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.get_role_display }}</td>
            <td><img src="{{ member.avatar }}" alt="Avatar" width="50" height="50"></td>
            <form action="/backoffice/back-users/destroy/{{member.id}}" method='POST'>
                {% csrf_token %}
                <td><button type="button" class="btn btn-primary"><a href={% url 'edit-user' member.id %}>edit</a></button></td>
                <td><button type="submit" class="btn btn-danger">X</button></td>
            </form>
            
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock backoffice%}